body {
    height: 100%;
    background-color: #1d1f21;
    color: #c9cacc;
    font-display: swap;
    font-weight: 400;
    font-size: 14px;
    font-family: Oxygen,monospace;
    line-height: 1.725;
    text-rendering: geometricPrecision;
    flex: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    max-width: 72rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

h1 {
    color: #2bbc8a;
}

a {
    color:#c9cacc;
}

a:visited {
    color:#c9cacc;
}
